body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-weight {
    weight: 50%;
    padding-left: 5%;
}

.half-weight img {
    padding-top: 50px;
    padding-left: none;
    padding-right: 60px;
    padding-bottom: 60px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}